---
title: 'Chi Siamo'
description: 'Scopri come Domus Zero aiuta i proprietari di casa in Italia a ridurre i costi energetici e l’uso dei combustibili fossili.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'it/chi-siamo/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Chi Siamo</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/lightbulb_nature.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/lightbulb_nature.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/lightbulb_nature.jpg" alt="lightbulb in nature" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/tuscany_villa_standalone.jpg" alt="Tuscan Villa" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/solar_install.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/solar_install.JPG">
                    <img aria-hidden="true" decoding="async" src="/assets/images/solar_install.JPG" alt="Solar Installation" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Chi Siamo</span>
                <h2 class="cs-title">Informazioni su Domus Zero</h2>
                <p class="cs-text">
                    Ci occupiamo delle soluzioni energetiche sostenibili per le abitazioni private in Italia, aiutando i proprietari di case a ridurre la dipendenza dai combustibili fossili ed ad abbracciare uno stile di vita più green.
                </p>
                <p class="cs-text">
                    In questo modo, minimizziamo le emissioni di carbonio e riduciamo notevolmente i costi energetici, rendendo la casa più sostenibile ed economicamente vantaggiosa.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Abbiamo maturato esperienza attraverso centinaia di progetti di sostenibilità realizzati con successo.
                        Li abbiamo analizzati attentamente per ottimizzare il processo di installazione di impianti fotovoltaici e pompe di calore, a beneficio dei nostri clienti.
                    </p>
                    <span class="cs-name">Stefan Knupfer</span>
                    <span class="cs-job">CEO e Fondatore</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/our-process" class="cs-button-solid">Il Nostro Processo</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
