---
title: 'I nostri servizi'
description: 'I servizi di Domus Zero'
preloadImg: '/assets/images/imagename.format'
permalink: 'it/i-nostri-servizi/'
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">I nostri servizi</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/lightbulb_nature.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/lightbulb_nature.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/lightbulb_nature.jpg" alt="lightbulb in nature" loading="eager" width="2500" height="1667">
    </picture>

</section>

<!-- ============================================ -->
<!--            Side By Side Reverse - Our Services             -->
<!-- ============================================ -->

<section id="sbs-r-869">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/tuscan_streets.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tuscan_streets.jpg">
                <img aria-hidden="true" decoding="async" src="./assets/images/tuscan_streets.jpg" alt="Tuscan Landscape" loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/ev_charger.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/ev_charger.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/ev_charger.jpg" alt="EV Charger" loading="lazy" width="400" height="563">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">I nostri servizi</span>
            <h2 class="cs-title">Our All-Inclusive Service</h2>
            <p class="cs-text">
                Domus Zero offre un servizio chiavi in mano tutto compreso:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Collaborazione proattiva con il Comune e il gestore locale dell'energia per individuare le soluzioni sostenibili più adatte alla tua abitazione
                </li>
                <li class="cs-li">
                    Installazione integrata di impianti fotovoltaici e pompe di calore con un'offerta a prezzo fisso e realizzazione entro poche settimane dal primo contatto
                </li>
                <li class="cs-li">
                    Utilizzo di apparecchiature e sistemi di alta qualità, efficienti e affidabili
                </li>
                <li class="cs-li">
                    Generazione di un interessante ritorno sull'investimento, riduzione dei costi energetici e di riscaldamento e minimizzazione delle emissioni di CO2
                </li>
                <li class="cs-li">
                    Passaggio senza pensieri grazie a un servizio completo che comprende sviluppo del progetto, gestione dell'implementazione, smaltimento dei vecchi impianti e gestione di tutte le pratiche amministrative con il Comune, il gestore dell'energia e gli altri enti competenti
                </li>
                <li class="cs-li">
                    Riduzione al minimo dei disagi per i clienti durante l'esecuzione dei lavori
                </li>
                <li class="cs-li">
                    Opzionale: servizi di manutenzione e assistenza periodica per gli impianti installati
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}
