---
title: 'Domus Zero'
description: 'Soluzioni energetiche sostenibili da Domus Zero, con fotovoltaico, pompe di calore e installazione chiavi in mano'
preloadImg: '/assets/images/landing.jpg'
permalink: 'it/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-856">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Rendere la tua casa sostenibile</span>
            <h1 class="cs-title">Domus Zero</h1>
            <p class="cs-text">
                Accelerando la transizione energetica sostenibile per le case private in Italia grazie ad installazioni integrate ed affidabili di impianti solari e di pompe di calore
            </p>
            <a href="/contact" class="cs-button-solid">Contattaci per fissare un appuntamento</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/lightbulb_nature.jpg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/lightbulb_nature.jpg">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/lightbulb_nature.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="Lightbulb in nature" width="570" height="701">
        </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

<!-- ============================================ -->
<!--            Side By Side - About Us           -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/treelined_drive.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/treelined_drive.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/treelined_drive.jpg" alt="Treelined Driveway" loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/tuscany_villa_standalone.jpg" alt="Tuscan Villa" loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Chi siamo</span>
            <h2 class="cs-title">Informazioni su Domus Zero</h2>
            <p class="cs-text">
                Ci occupiamo delle soluzioni energetiche sostenibili per le abitazioni private in Italia, aiutando i proprietari di case a ridurre la dipendenza dai combustibili fossili ed ad abbracciare uno stile di vita più green.
            </p>
            <p class="cs-text">
                In questo modo, minimizziamo le emissioni di carbonio e riduciamo notevolmente i costi energetici, rendendo la casa più sostenibile ed economicamente vantaggiosa.
            </p>
            <a href="/our-process" class="cs-button-solid">Il nostro processo</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services - Overview                 -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
            <!--<span class="cs-topper">I nostri servizi</span>-->
            <h2 class="cs-title">Garantiamo servizi di alta qualità</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Installazione integrata di impianti solari e pompe di calore</span></h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Sistemi di alta qualità, efficienti e affidabili</span></h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Soluzioni chiavi in mano con prezzi tutto compreso</span></h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Manutenzione per il ciclo di vita opzionale</span></h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse - Our Services             -->
<!-- ============================================ -->

<section id="sbs-r-869">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/solar_owl.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/solar_owl.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/solar_owl.jpg" alt="Solar Panel and Owl" loading="lazy" width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/heatpump.png">
                <source media="(min-width: 601px)" srcset="/assets/images/heatpump.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/heatpump.png" alt="Heatpump" loading="lazy" width="400" height="563">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">I nostri servizi</span>
            <h2 class="cs-title">Servizio chiavi in mano tutto compreso</h2>
            <p class="cs-text">
                Domus Zero offre un servizio chiavi in mano tutto compreso:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    Collaborazione proattiva con il Comune e il gestore locale dell'energia per individuare le soluzioni sostenibili più adatte alla tua abitazione
                </li>
                <li class="cs-li">
                    Installazione integrata di impianti fotovoltaici e pompe di calore con un'offerta a prezzo fisso e realizzazione entro poche settimane dal primo contatto
                </li>
                <li class="cs-li">
                    Utilizzo di apparecchiature e sistemi di alta qualità, efficienti e affidabili
                </li>
                <li class="cs-li">
                    Generazione di un interessante ritorno sull'investimento, riduzione dei costi energetici e di riscaldamento e minimizzazione delle emissioni di CO2
                </li>
                <li class="cs-li">
                    Passaggio senza pensieri grazie a un servizio completo che comprende sviluppo del progetto, gestione dell'implementazione, smaltimento dei vecchi impianti e gestione di tutte le pratiche amministrative con il Comune, il gestore dell'energia e gli altri enti competenti
                </li>
                <li class="cs-li">
                    Riduzione al minimo dei disagi per i clienti durante l'esecuzione dei lavori
                </li>
                <li class="cs-li">
                    Opzionale: servizi di manutenzione e assistenza periodica per gli impianti installati
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Contattaci per fissare un appuntamento</a>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                 Why Choose Us                   -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Perché Domus Zero</span>
                <h2 class="cs-title">Il passaggio più affidabile verso una casa sostenibile</h2>
            </div>
            <!--<p class="cs-text">
                We have experience from hundreds of successfully installed sustainability projects.
            </p>-->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="40" height="48">
                <h3 class="cs-h3">Transizione senza pensieri</h3>
                <p class="cs-item-text">
                    Ci occupiamo noi di ogni dettaglio, così non devi farlo tu. Passa a una casa sostenibile con il minimo disturbo alla tua vita quotidiana.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Servizio chiavi in mano tutto compreso</h3>
                <p class="cs-item-text">
                    Ci occupiamo di tutto: pianifichiamo con il tuo Comune e il fornitore di energia locale, presentiamo la domanda per gli incentivi statali, smaltiamo il vecchio impianto di riscaldamento, installiamo un sistema sostenibile completamente integrato e, su richiesta, effettuiamo la manutenzione periodica.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Realizzazione del progetto in poche settimane</h3>
                <p class="cs-item-text">
                    Dalla prima consulenza alla conclusione dell’installazione il progetto verrà realizzato in tempi brevi.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Our Process                 -->
<!-- ============================================ -->

<section id="why-choose-1662">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Il nostro processo</span>
            <h2 class="cs-title">Rendi la tua casa sostenibile in poche settimane</h2>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">01</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                          Contattaci
                        </h3>
                        <p class="cs-item-text">
                            Per telefono, email o tramite il nostro sito web: ti risponderemo in tempi rapidi.
                            Ti chiederemo anche di preparare alcune informazioni di base, ad esempio,
                            l’ultima bolletta energetica (mensile o annuale), l’indirizzo esatto dell’immobile, alcune foto specifiche della casa e degli impianti energetici esistenti.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">02</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Prenota la prima chiamata su Zoom / Microsoft Teams
                        </h3>
                        <p class="cs-item-text">
                            Ti chiederemo di condividere le informazioni richieste al punto 01.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">03</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Analisi di fattibilità a distanza
                        </h3>
                        <p class="cs-item-text">
                            Effettueremo un’analisi di fattibilità remota, valutando posizione, Comune, spazio e altre caratteristiche della tua proprietà.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">04</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Primo sopralluogo
                        </h3>
                        <p class="cs-item-text">
                            Programmeremo con te un sopralluogo di 3 ore per raccogliere tutti i dati necessari (idealmente con la tua presenza).
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">05</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Soluzione su misura
                        </h3>
                        <p class="cs-item-text">
                            Sviluppiamo una soluzione dettagliata e personalizzata, inclusa un’offerta specifica.
                            Se accetti l’offerta, ti informeremo entro pochi giorni sul piano di implementazione e l’agenda dettagliata.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">06</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Installazione di alta qualità
                        </h3>
                        <p class="cs-item-text">
                            Installazione di pannelli solari e pompe di calore integrate, con il minimo disturbo per la tua casa.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">07</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Consegna finale
                        </h3>
                        <p class="cs-item-text">
                            Consegna finale della soluzione sostenibile su misura per la tua proprietà.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">08</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Assistenza
                        </h3>
                        <p class="cs-item-text">
                            Supporto post-realizzazione, su richiesta e in base alle tue esigenze.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!---SVG Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    </div>
</section>


{% include 'components/cta.html' %}
{% endblock %}
