---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/lightbulb_nature.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/lightbulb_nature.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/lightbulb_nature.jpg" alt="lightbulb in nature" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/tuscany_villa_standalone.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/tuscany_villa_standalone.jpg" alt="Tuscan Villa" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/solar_install.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/solar_install.JPG">
                    <img aria-hidden="true" decoding="async" src="/assets/images/solar_install.JPG" alt="Solar Installation" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Domus Zero</h2>
                <p class="cs-text">
                    We specialize in sustainable energy solutions for private homes in Italy, helping homeowners reduce their reliance on fossil fuels and embrace greener living.
                </p>
                <p class="cs-text">
                    In doing so, we minimize carbon emissions and significantly reduce energy costs, creating a more sustainable and cost-efficient home.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        We have experience from hundreds of successfully installed sustainability projects.
                        We have analyzed them carefully to optimize the solar and heat pump installation process to the benefit of our clients.
                    </p>
                    <span class="cs-name">Stefan Knupfer</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/our-process" class="cs-button-solid">Our Process</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
