---
title: 'Our Process'
description: 'Our Process at Domus Zero'
preloadImg: '/assets/images/imagename.format'
permalink: 'our-process/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/process.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Process</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/lightbulb_nature.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/lightbulb_nature.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/lightbulb_nature.jpg" alt="lightbulb in nature" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                  Our Process                 -->
    <!-- ============================================ -->

    <section id="why-choose-1662">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Turn Your Home Sustainable in just a Few Weeks</h2>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">01</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Contact Us
                        </h3>
                        <p class="cs-item-text">
                            Via phone, email, or website and we will get back to you in no time.
                            We will also ask you to prepare some basic information,
                            e.g., Last month's/year's energy bill, exact address, some specific picture of house
                            and existing energy systems, etc.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">02</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Schedule Initial Zoom/MS Teams Video Call
                        </h3>
                        <p class="cs-item-text">
                            We will ask you to share the information we requested under point 01.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">03</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Remote Feasibility Analysis
                        </h3>
                        <p class="cs-item-text">
                            We will do remote feasibility analyses including location, Comune, space, and other characteristics of your property.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">04</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            First Site Visit
                        </h3>
                        <p class="cs-item-text">
                            We will schedule with you a 3h site visit to collect all required data (ideally while you are present).
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-item-number">05</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Tailored Solution
                        </h3>
                        <p class="cs-item-text">
                            We develop a tailored and detailed solution including a specific offer.
                            If you accept the offer, we will inform you within a few days about the detailed
                            implementation plan/schedule.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">06</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            High-Quality Installation
                        </h3>
                        <p class="cs-item-text">
                            High quality installation of integrated solar panel and heat pump solution all with minimum disruption to your home.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">07</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Hand Over
                        </h3>
                        <p class="cs-item-text">
                            Final turnkey hand over of property-specific sustainable solution.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-item-number">08</span>
                    <div class="cs-item-wrapper">
                        <h3 class="cs-h3">
                            Support
                        </h3>
                        <p class="cs-item-text">
                            Post-realization support as needed and requested by you.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!---SVG Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg" alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}
